.slider {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  height: 8px;
  border-radius: 4px;
  outline: none;
  cursor: pointer;
  position: relative;
}

.slider::-webkit-slider-runnable-track {
  background: linear-gradient(to right, #f64a4a 0%, #a4ffaf 60%);
  border-radius: 4px;
  height: 8px;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  background: #e6e5ea;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  border: none;
  margin-top: -8px;
  position: relative;
  z-index: 1;
  transition:
    background-color 0.3s ease-in-out,
    border-color 0.3s ease-in-out;
}

.slider::-webkit-slider-thumb:hover {
  background: #18171f;
  border-radius: 50%;
  border: solid 2px #a4ffaf;
  transition:
    background-color 0.3s ease-in-out,
    border-color 0.3s ease-in-out;
}

.slider::-moz-range-track {
  background: #24232c;
  border-radius: 4px;
  height: 8px;
}

.slider::-moz-range-thumb {
  background: #e6e5ea;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  border: none;
  transition: all 0.2s ease;
}

.slider::-ms-track {
  background: transparent;
  border-color: transparent;
  color: transparent;
  height: 8px;
}

.slider::-ms-fill-lower {
  background: #a4ffaf;
  border-radius: 4px;
}

.slider::-ms-fill-upper {
  background: #24232c;
  border-radius: 4px;
}

.slider::-ms-thumb {
  background: #e6e5ea;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  border: none;
  transition: all 0.3s ease-in-out;
}

.label {
  display: flex;
  align-items: center;
  gap: 22px;
  font-size: 16px;
  font-weight: 500;
  color: #ffffff;
  cursor: pointer;
}

.checkbox {
  display: none;
}

.checkbox + .label {
  position: relative;
  padding-left: 42px;
}

.checkbox + .label::before {
  content: '';
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
  border: 2px solid #817d92;
  //   border-radius: 4px;
  background-color: #18171f;
  transition:
    background-color 0.3s,
    border-color 0.3s;
}

.checkbox + .label:hover::before {
  border: 2px solid #a4ffaf;
}

.checkbox:checked + .label::before {
  content: '';
  background-color: #a4ffaf;
  border-color: #a4ffaf;
}

.checkbox:checked + .label::after {
  content: '';
  position: absolute;
  left: 4px;
  top: 6px;
  width: 12px;
  height: 12px;
  background-image: url('../../public/icons/tick.svg');
  background-size: cover;
}

.checkbox:checked + .label {
  opacity: 1;
}
