@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #18171f;
  box-sizing: border-box;
}

@font-face {
  font-family: 'JetBrainsMono';
  src: url('./assets/fonts/JetBrainsMono-Italic-VariableFont_wght.ttf');
  font-style: italic;
  font-family: 'JetBrainsMono', monospace;
}

@font-face {
  font-family: 'JetBrainsMono';
  src: url('./assets/fonts/JetBrainsMono-VariableFont_wght.ttf');
  font-style: normal;
  font-family: 'JetBrainsMono', monospace;
}

@font-face {
  font-family: 'JetBrainsMono';
  src: url('./assets/fonts/static/JetBrainsMono-Bold.ttf');
  font-weight: bold;
  font-style: normal;
  font-family: 'JetBrainsMono', monospace;
}

@font-face {
  font-family: 'JetBrainsMono';
  src: url('./assets/fonts/static/JetBrainsMono-BoldItalic.ttf');
  font-weight: bold;
  font-style: italic;
  font-family: 'JetBrainsMono', monospace;
}
